<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Jomo Metamodel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- Applications-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarAppMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Applications
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarAppMenuLink">
                    <a class="dropdown-item" href="/applications">View Applications</a>
                    <a class="dropdown-item" href="/applications-new">Add Application</a>
                    <a class="dropdown-item" href="/applications-search">Search Application</a>
                </div>
            </li>
            <!-- Components-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarCompMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Components
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarCompMenuLink">
                    <a class="dropdown-item" href="/components">View Components</a>
                    <a class="dropdown-item" href="/components/add">Add Component</a>
                    <a class="dropdown-item" href="/components/search">Search Component</a>
                </div>
            </li>
            <!-- Databases-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDbMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Databases
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDbMenuLink">
                    <a class="dropdown-item" href="/databases">View Databases</a>
                    <a class="dropdown-item" href="/databases/add">Add Database</a>
                    <a class="dropdown-item" href="/databases/search">Search Database</a>
                </div>
            </li>
            <!-- Domains-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDomMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Domains
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDomMenuLink">
                    <a class="dropdown-item" href="/domains">View</a>
                    <a class="dropdown-item" href="/domains/new">Create</a>
                </div>
            </li>
            <!-- Systems-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarSysMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Systems
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarSysMenuLink">
                    <a class="dropdown-item" href="/systems">View</a>
                    <a class="dropdown-item" href="/systems/new">Create</a>
                </div>
            </li>
            <!-- Releases-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarRelMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Releases
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarRelMenuLink">
                    <a class="dropdown-item" href="/releases">View</a>
                    <a class="dropdown-item" href="/releases/new">Create</a>
                </div>
            </li>
            <!-- Environments-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarEnvMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Environments
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarEnvMenuLink">
                    <a class="dropdown-item" href="/environments">View</a>
                    <a class="dropdown-item" href="/environments/new">Create</a>
                </div>
            </li>
            <!-- Services-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarSerMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Services
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarSerMenuLink">
                    <a class="dropdown-item" href="/service">Services</a>
                </div>
            </li>
            <!-- Interfaces-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarIntMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Interfaces
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarIntMenuLink">
                    <a class="dropdown-item" href="/interfaces">Interfaces</a>
                </div>
            </li>
            <!-- Objects-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarObjMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Objects
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarObjMenuLink">
                    <a class="dropdown-item" href="/objects">Objects</a>
                </div>
            </li>
            <!-- Operations-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarOpsMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Operations
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarOpsMenuLink">
                    <a class="dropdown-item" href="/operations">Operations</a>
                </div>
            </li>
            <!-- Atoms-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarAtmMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Atoms
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarAtmMenuLink">
                    <a class="dropdown-item" href="/atoms">Atoms</a>
                </div>
            </li>
            <!-- Metadata-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarMetMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Metadata
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarMetMenuLink">
                    <a class="dropdown-item" href="/metadatas">View</a>
                    <a class="dropdown-item" href="/metadatas/new">Create</a>
                </div>
            </li>
            <!-- Documentation-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDocMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Documentation
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDocMenuLink">
                    <a class="dropdown-item" href="/documentation">Documentation</a>
                </div>
            </li>
        </ul>
    </div>
</nav>