<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>EOrganism Metamodel Web Applications :: Documentation</title>
</head>
<body>
<div class="container">
    <div th:insert="fragments/navbar.html"> </div>

    <div class="jumbotron">
        <h3>Metamodel Documentation</h3>
<table class="table table-striped">

    <tbody>
            <a class="dropdown-item" href="/swagger-ui/index.html" target="_blank">Swagger UI - http://localhost:8085/swagger-ui/index.html</a> <br>
            <a class="dropdown-item" href="/v3/api-docs" target="_blank">Open API 3.0 YAML specification - http://localhost:8085/v3/api-docs</a> <br>
            <a class="dropdown-item" href="/actuator" target="_blank">Actuator = http://localhost:8085/actuator</a> <br>
            <a class="dropdown-item" href="/api/v1/metamodel/applications" target="_blank">Applications API = http://localhost:8085/api/v1/metamodel/applications</a> <br>
            <a class="dropdown-item" href="/api/v1/metamodel/components" target="_blank">Components API = http://localhost:8085/api/v1/metamodel/components</a> <br>
            <a class="dropdown-item" href="/api/v1/metamodel/databases" target="_blank">Databases API = http://localhost:8085/api/v1/metamodel/databases</a> <br>
            <a class="dropdown-item" href="/api/v1/metamodel/domains" target="_blank">Domains API = http://localhost:8085/api/v1/metamodel/domains</a> <br>
            <a class="dropdown-item" href="/api/v1/metamodel/environments" target="_blank">Environments API = http://localhost:8085/api/v1/metamodel/environments</a> <br>
            <a class="dropdown-item" href="/api/v1/metamodel/releases" target="_blank">Releases API = http://localhost:8085/api/v1/metamodel/releases</a> <br>
            <a class="dropdown-item" href="/api/v1/metamodel/metadatas" target="_blank">Metadatas API = http://localhost:8085/api/v1/metamodel/metadatas</a> <br>
    </tbody>
</table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>