<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EOrganism Metamodel Web Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div th:insert="fragments/navbar.html"> </div>

    <div class="jumbotron">

        <div class="row text-center">
            <div class="">

                <h3>EOrganism Metamodel Web Application - </h3>

                <p>
                    <a href="/EOrganism_EnterpriseMetamodel.doc">EOrganism_Enterprise Metamodel</a><br>
                    EOrganism - Metamodel, Metadata Cloud Web Based application direct implementation of <a href="/TOGAF-V91-M7-Metamodel.pdf">TOGAF Content MetaModel</a>, <br><br>
                    a specialized, dedicated tool for the IT Enterprises, usually consisting of 1000-2000+ Systems/ Applications (each with 5-20+ application components), <br>
                    1000+ DBs, 2000+ (Web) Services endpoints, 100K -200K+ interfaces, 30K -100K + servers/ hardware, multiple mixed environments CLOUD, PROD, DR, QA, STAGGING, TRAINING, BCV, <br>
                    various Data Centers, multiple vendors 20K-200K employees and parallel aggressive project development possibly 50-100 Major projects Deliver/ year, <br>
                    periodical IT releases 4 +/ year, IT budget $ 200 mil- $ 800 mil/ year. <br>
                    <br><br><br><br>
                    <a class="dropdown-item" href="/h2-console" target="_blank">Java DB / in memory DB- web H2 Console - http://localhost:8080/h2-console</a> <br>
                    <a class="dropdown-item" href="/swagger-ui/index.html" target="_blank">Swagger UI - http://localhost:8080/swagger-ui/index.html</a> <br>
                    <a class="dropdown-item" href="/v3/api-docs" target="_blank">Open API 3.0 YAML specification - http://localhost:8080/v3/api-docs</a> <br>
                    <a class="dropdown-item" href="/actuator" target="_blank">Actuator = http://localhost:8080/actuator</a> <br>
                    <a class="dropdown-item" href="/api/v1/metamodel/applications" target="_blank">Applications API = http://localhost:8080/api/v1/metamodel/applications</a> <br>
                    <a class="dropdown-item" href="/api/v1/metamodel/components" target="_blank">Components API = http://localhost:8080/api/v1/metamodel/components</a> <br>
                    <a class="dropdown-item" href="/api/v1/metamodel/databases" target="_blank">Databases API = http://localhost:8080/api/v1/metamodel/databases</a> <br>
                    <a class="dropdown-item" href="/api/v1/metamodel/domains" target="_blank">Domains API = http://localhost:8080/api/v1/metamodel/domains</a> <br>
                    <a class="dropdown-item" href="/api/v1/metamodel/environments" target="_blank">Environments API = http://localhost:8080/api/v1/metamodel/environments</a> <br>
                    <a class="dropdown-item" href="/api/v1/metamodel/releases" target="_blank">Releases API = http://localhost:8080/api/v1/metamodel/releases</a> <br>
                    <a class="dropdown-item" href="/api/v1/metamodel/metadatas" target="_blank">Metadatas API = http://localhost:8080/api/v1/metamodel/metadatas</a> <br>
                </p>
            <img src="" style="width:25%" />
        </div>
    </div>

</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>