<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EOrganism Metamodel Web Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div th:insert="fragments/navbar.html"> </div>

    <div class="jumbotron">

        <div class="row text-center">
            <div class="">

                <h3>EOrganism Metamodel Web Application - </h3>

                <p>
                    <a href="/EOrganism_EnterpriseMetamodel.doc">EOrganism_EnterpriseMetamodel</a>
                    EOrganism - Metamodel, Metadata Cloud Web Based application direct implementation of <a href="/TOGAF-V91-M7-Metamodel.pdf">TOGAF Content MetaModel</a>, a specialized, dedicated tool for the IT Enterprises, usually consisting of 1000-2000+ Systems/ Applications (each with 5-20+ application components), 1000+ DBs, 2000+ (Web) Services endpoints, 100K -200K+ interfaces, 30K -100K + servers/ hardware, multiple mixed environments CLOUD, PROD, DR, QA, STAGGING, TRAINING, BCV, various Data Centers, multiple vendors 20K-200K employees and parallel aggressive project development possibly 50-100 Major projects Deliver/ year, periodical IT releases 4 +/ year, IT budget $ 200 mil- $ 800 mil/ year.
                </p>
            <img src="" style="width:25%" />
        </div>
    </div>

</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>